*{
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: pokemon;
  src: url("./font/pokemon_classic.ttf");
}
body{
  font-family: pokemon;
  background: url("wallpaper.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  min-height: 1050px;
  overflow-x: hidden;
}
.App {
  text-align: center;
}

nav{
  position: fixed;
  width: 100%;
  height: 50px;
  top: 0;
  background: linear-gradient(#00B7FF, #FFFFC7);
  border-bottom: solid 8px black;
  z-index: 2;
}

ul{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: inherit;
}

li{
  list-style: none;
}

li a{
  text-decoration: none;
  color: white;
  text-shadow: 2px 2px rgba(91, 91, 91, 0.71);
  padding: 14px;
  -webkit-transition: background-color 1s;
  transition: background-color 1s;
}
li a:hover{
  background-color: black;
}

li img{
  width: 126px;
  margin-top: 62px;
}

.container{
  margin-top: 130px;
  border-radius: 15px;
  box-shadow: 5px 5px rgba(61, 61, 61, 0.8);
  background: #ffffff;
  max-width: 80%;
  position: absolute;
  left: 10%;
  padding: 15px 20px;
  z-index: 1;
}
.container p{
  border-radius: 15px;
  box-shadow: inset 5px 5px 5px 160px rgba(31, 119, 43, 0.42);
  background: #ffffff;
  margin-top: 10px;
  padding: 15px 20px;
  border: solid 8px black;
}
.container img{
  width: 90%;
  max-width: 50%;
}

.form_result{
  margin-top: 130px;
  border-radius: 15px;
  box-shadow: 5px 5px rgba(61, 61, 61, 0.8);
  background: #ffffff;
  max-width: 80%;
  width: 80%;
  position: absolute;
  left: 10%;
  padding: 15px 20px;
  z-index: 1;
}

.form_result ul{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.form_result input{
  width: 100%;
  margin-top: 10px;
}

.form_result .submit{
  background: #dc0e23;
  border: solid black 8px;
  border-radius: 15px;
  color: white;
  font-family: pokemon;
  width: 100%;
  text-align: center;
  padding: 15px;
  cursor: pointer;
  outline: none;
}

@media screen and (max-width: 600px){
  li a{
    font-size: x-small;
    padding-top: 20px;
  }
  li img{
    margin-left: 20px;
  }

  .container, .form_result{
    margin: 150px 0;
    left: 4%;
  }
}
